@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

img {
  height: 60px;
  width: 80px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.logo-container h1 {
  color: rgb(77, 71, 71);
}

.navbar {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 0.4rem 3rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(156deg, rgba(255, 255, 255, 1) 25%, rgba(54, 55, 57, 1) 85%);
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav > ul a {
  color: rgb(153, 147, 147);
  text-decoration: none;
}

nav > ul a.active {
  text-decoration: underline;
}

#border {
  border-right: 1.5px solid grey;
  padding-right: 1rem;
}

.missionBody,
.dragonBody,
.rocketBody {
  padding-top: 6%;
}

/* rocket */
.rocketBody {
  display: grid;
  gap: 30px;
}

.rocket {
  display: flex;
  margin: auto 5%;
  gap: 20px;
}

.rocket-img {
  width: 400px;
  height: 250px;
}

.rocket-detail-container {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.rocket-detail-container h2 {
  margin-top: 10px;
  font-size: 30px;
}

.rocket-detail-container p {
  font-size: 18px;
}

.reservation {
  background-color: #18a2b8;
  color: #fff;
  padding: 3px;
  margin-right: 8px;
  border-radius: 5px;
}

.cancelbtn {
  padding: 10px;
  width: 300px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #6d757d;
  border-radius: 8px;
  color: #6d757d;
}

.reservebtn {
  padding: 10px;
  width: 200px;
  font-size: 20px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 8px;
  color: #fff;
}

/* Missions */
table {
  margin: auto 6%;
  border-collapse: collapse;
}



th, tr, td {
  border: 1px solid #000;
}

th {
  font-size: 23px;
  padding: 5px;
  background-color: rgb(10, 10, 54);
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  font-size: 18px;
  padding: 10px;
}

.mission-description {
  font-size: 15px;
}

.t-mission, .t-status, .t-option {
  width: 13%;
}

.active-member {
  background-color: #18a2b8;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
}

.not-a-member {
  background-color: #6d757d;
  color: #fff;
  padding: 3px 15px;
  border-radius: 5px;
}

td button {
  background-color: #fff;
  color: #343a40;
  font-size: 20px;
  padding: 6px;
  border: 1px solid #343a40;
  border-radius: 5px;
}

td button:focus {
  color: #dc3645;
  border: 1px solid #dc3645;
}
